In [ ]:
import pandas as pd

In [ ]:
df_stock = pd.read_parquet("C:/Users/Rafas/Desktop/repositorios/project001/data/01_raw/stock/EMBR3_SA.parquet")
df_news = pd.read_parquet("C:/Users/Rafas/Desktop/repositorios/project001/data/01_raw/news/EMBR3_SA.parquet")
df2_stock = pd.read_parquet("C:/Users/Rafas/Desktop/repositorios/project001/data/02_intermediate/stock/EMBR3_SA.parquet")
df2_news = pd.read_parquet("C:/Users/Rafas/Desktop/repositorios/project001/data/02_intermediate/news/EMBR3_SA.parquet")
df3_stock = pd.read_parquet("C:/Users/Rafas/Desktop/repositorios/project001/data/03_primary/stock/EMBR3_SA.parquet")
df3_news = pd.read_parquet("C:/Users/Rafas/Desktop/repositorios/project001/data/03_primary/news/EMBR3_SA.parquet")

In [6]:
df_stock.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits,ticker
0,2025-07-15 00:00:00-03:00,74.300003,76.099998,73.010002,74.059998,9068700,0.0,0.0,EMBR3.SA
1,2025-07-16 00:00:00-03:00,74.059998,74.730003,70.709999,71.199997,10288000,0.0,0.0,EMBR3.SA
2,2025-07-17 00:00:00-03:00,71.669998,72.110001,70.870003,71.110001,3934000,0.0,0.0,EMBR3.SA
3,2025-07-18 00:00:00-03:00,70.500000,70.500000,67.260002,68.300003,11392200,0.0,0.0,EMBR3.SA
4,2025-07-21 00:00:00-03:00,67.949997,70.019997,66.839996,68.120003,5650700,0.0,0.0,EMBR3.SA

In [7]:
df_news.head()

,title,description,url,publishedAt,source,content
0,Mini-índice (WINV25) deve reagir a STF e indic...,Confira o que a análise técnica aponta para o ...,https://www.infomoney.com.br/mercados/mini-ind...,2025-09-12T10:30:15Z,InfoMoney,"Os contratos de mini-índice (WINV25), com venc..."
1,Embraer mira 100 entregas anuais de jatos come...,Presidente-executivo Francisco Gomes Neto dest...,https://www.infomoney.com.br/business/embraer-...,2025-09-11T19:01:07Z,InfoMoney,A Embraer espera atingir 100 entregas anuais d...
2,Embraer anuncia venda de 50 jatos para companh...,A Embraer anunciou a venda de 50 jatos E195-E2...,https://noticiabrasil.net.br/20250911/embraer-...,2025-09-11T13:37:18Z,Noticiabrasil.net.br,"""O E195-E2 é um divisor de águas para as compa..."
3,"Inflação nos EUA, varejo no Brasil, BCE e mais...",Confira as principais informações que devem me...,https://www.infomoney.com.br/mercados/inflacao...,2025-09-11T09:15:01Z,InfoMoney,Após o Índice Nacional de Preços ao Consumidor...
4,"Embraer: “novo marco” finalmente é anunciado, ...","Apesar de baixa das ações, visão do mercado é ...",https://www.infomoney.com.br/mercados/embraer-...,2025-09-11T09:00:00Z,InfoMoney,"Na semana passada, mais precisamente no dia 4,..."

In [4]:
df3_stock.head()

         date   open   high    low  close    volume  dividends  stock_splits
0  2025-07-15  74.30  76.10  73.01  74.06   9068700        0.0           0.0
1  2025-07-16  74.06  74.73  70.71  71.20  10288000        0.0           0.0
2  2025-07-17  71.67  72.11  70.87  71.11   3934000        0.0           0.0
3  2025-07-18  70.50  70.50  67.26  68.30  11392200        0.0           0.0
4  2025-07-21  67.95  70.02  66.84  68.12   5650700        0.0           0.0

In [ ]:
df3_news.head()